---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div class="group relative inline-block">
			<Image
				src="/hand-drawn-highlights.png"
				alt="highlights"
				width={50}
				height={50}
				class="absolute bottom-[-35px] left-[290px] hidden -translate-x-3/4 -translate-y-3/4 rotate-180 group-hover:block"
				loading="eager"
			/>
			<Image
				src="/kevin_ruhl.jpg"
				alt="Kevin Ruhl"
				width={250}
				height={250}
				class="card-shadow mb-10 rounded-lg"
				loading="eager"
			/>
		</div>
		<h1 class="title mb-6">About me</h1>
		<div class="card-shadow mb-5 border-b-2 border-t-2 border-solid border-gray-500 py-4">
			<p>
				Greetings, traveller! I'm Kev, a software engineer mostly building on the web with
				JavaScript/TypeScript, Golang, and Python. My interests revolve around:
			</p>
			<br />
			<li>Serverless architecture</li>
			<li>Distributed systems</li>
			<li>Generative AI</li>
			<li>Web security</li>
			<li>Observability</li>
			<li>Frontend architecture at scale</li>
			<li>Web accessibility</li>
			<br />
			I'm often exploring new ideas and diving into new technologies and concepts that challenge my thinking.
			I’m usually reading, often learning, and occasionally writing about what I learn and discover.
			Every now and then, I remember to publish and share my thoughts in the form of blog posts.
		</div>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="card-shadow mb-4 space-y-4 border-b-2 border-t-2 border-solid border-gray-500 py-4">
			{
				allPostsByDate.map((post) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={post} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>

<style>
	:root {
		--card-shadow-color: rgba(15, 15, 15, 0.86);
		--card-shadow-hover-color: rgba(15, 15, 15, 0.86);
	}

	.card-shadow {
		/* box-shadow: 7px 7px 0 var(--card-shadow-color); */
		transition: box-shadow 0.25s ease-in-out;
	}

	.card-shadow:hover {
		box-shadow: 6px 6px 0 var(--card-shadow-hover-color);
	}
</style>
