---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const technologies: { desc: string; href: string; title: string }[] = [
	{
		desc: "The web framework for content-driven websites.",
		href: "https://astro.build",
		title: "Astro",
	},
	{
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
		title: "Tailwind CSS",
	},
	{
		desc: "A powerful, open source object-relational database system.",
		href: "https://www.postgresql.org/",
		title: "Postgres",
	},
	{
		desc: "A strongly typed programming language that builds on JavaScript.",
		href: "https://www.typescriptlang.org/",
		title: "TypeScript",
	},
	{
		desc: "The React Framework for the Web.",
		href: "https://nextjs.org/",
		title: "Next.js",
	},
	{
		desc: "A JavaScript runtime built on Chrome's V8 JavaScript engine.",
		href: "https://nodejs.org/",
		title: "Node.js",
	},
	{
		title: "NestJS",
		href: "https://nestjs.com/",
		desc: "A progressive Node.js framework for building efficient and scalable server-side applications.",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div class="group relative inline-block">
			<Image
				src="/hand-drawn-highlights.png"
				alt="highlights"
				width={50}
				height={50}
				class="absolute bottom-[-35px] left-[290px] hidden -translate-x-3/4 -translate-y-3/4 rotate-180 group-hover:block"
				loading="eager"
			/>
			<Image
				src="/kevin_ruhl.jpg"
				alt="Kevin Ruhl"
				width={250}
				height={250}
				class="card-shadow mb-10 rounded-lg"
				loading="eager"
			/>
		</div>
		<h1 class="title mb-6">About me</h1>
		<p class="card-shadow mb-5 border-b-2 border-t-2 border-solid border-gray-500 py-4">
			Welcome! I'm Kevin, a software engineer primarily building in the React.js and JavaScript
			ecosystem. These days I am focusing on frontend architecture, web performance, accessibility,
			and security.
			<br />
			<br />
			Thinker and explorer of new ideas. You can always find me reading and learning about new stuff
			and sometimes writing about it. At times I remember to publish my thoughts on the internet.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="card-shadow mb-4 space-y-4 border-b-2 border-t-2 border-solid border-gray-500 py-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<dl
			class="card-shadow mb-4 space-y-4 border-b-2 border-t-2 border-solid border-gray-500 py-4 underline-offset-2"
		>
			{
				technologies.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>

<style>
	:root {
		--card-shadow-color: rgba(15, 15, 15, 0.86);
		--card-shadow-hover-color: rgba(15, 15, 15, 0.86);
	}

	.card-shadow {
		/* box-shadow: 7px 7px 0 var(--card-shadow-color); */
		transition: box-shadow 0.25s ease-in-out;
	}

	.card-shadow:hover {
		box-shadow: 6px 6px 0 var(--card-shadow-hover-color);
	}
</style>
